
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="alert alert-success">
        Amazing!!! You have just made a successful purchase.
    </div>
     <div>
         <a href="/" class=" btn btn-sm- btn success" style="width: auto; height: 35px;">Continue to shopping with us !!!</a>
     </div>   
</div>
